<div class="col-sm-7 no-left-padding no-right-padding">
<%= render 'layouts/messages'%>
</div>
<% if @stock %>
    <div class="card card-header res col-sm-7 rb10 no_padding" >
      <table class="table table-borderless " style="margin-bottom: 0;">
          <tr>
            <td class="align-middle"><b>Ticker:</b> <%=@stock.ticker%></td>
            <td class="align-middle"><b>Company name:</b> <%=@stock.name%></td>
            <td class="align-middle"><b>Price:</b> <%=@stock.last_price%></td>
            <td class="align-middle  no-right-padding"><button type="button" class="btn btn-dark">Add</button></td>
          </tr>
      </table>
    </div>
<%end%>
