@import "bootstrap";
@import "font-awesome";


.alert {
    margin-top: 10px;
    border-radius: 10px ;
}


.no-right-padding{
    padding-right: 0 !important;
}


.no-left-padding{
    padding-left: 0 !important;
}

.res{
    display: inline-block;
}


.rb10{
  border-radius: 10px ;
}

.no_padding{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }


.jumbotron{
  background-image: asset-url('images.jpg');
  background-size: cover;
  border-radius: 5px;
}
